<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Author</h3></div>
      <div class="panel-body">
        <h4>Alexander</h4>
        <ul>
          <li>6+ year in web dev</li>
          <li>Python, JavaScript, Ruby</li>
          <li>SQL - MySQL, PostreSQL</li>
          <li>NoSQL - MongoDB, Redis, Riak</li>
        </ul>
        <h4>Cloud Platforms</h4>
        <ul>
          <li>Google App Engine</li>
          <li>Amazon AWS</li>
          <li>Heroku</li>
          <li>OpenShift</li>
        </ul>
        <h4>Libs</h4>
        <ul>
          <li>Fabric</li>
          <li>SQLAlchemy</li>
          <li>Celery</li>
          <li>MongoEngine</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading"><h3 class="panel-title">CV</h3></div>
      <div class="panel-body">
        <p>
          Web scraping: asynchroneous web crawlers. Marketing email sending services through Amazon SES / Mandrill etc., backends for mobile apps, API backend for JavaScript Client side (single-page-application‎s), web scraping services with tasks queue, websites, web-scraping, api data scraping.
        </p>

        <p>
          Constantly looking for long-term Web-scraping/Data Mining/REST API/Mobile backend related tasks 30$/hour.
        </p>

        <p>
          Code review, consulting, high-load.
        </p>
      </div>
    </div>
  </div>
</div>
